* {
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
}

.custom-body {
  background-color: #623cea;
}

.custom-navbar {
  width: 100%;
  height: 40px;
  background-color: #54426b;
}

.titles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 82px;
  font-style: italic;
  font-weight: 800;
  color: #e9f1f7;
}

.main-container {
  width: 100%;
  max-width: 320px;

  height: 100%;
}
.welcome-title {
  color: #e9f1f7;
}

.links-box {
  display: flex;
  justify-content: space-between;

  color: #e9f1f7;
}

.links-box > a {
  color: #e9f1f7;
}

.button-container {
  padding: 0 24px;
}

.custom-btn {
  background-color: #54426b;

  text-transform: uppercase;
  color: #e9f1f7;
}

.custom-input {
  background-color: #e9f1f7;
}

.custom-form {
}

.link-holder {
  display: flex;
  margin-bottom: 12px;
}

.custom-link {
  font-size: 24px;
  font-weight: 500;
  color: #e9f1f7;

  text-align: end;

  margin: 0px auto;
}
